.App {
  text-align: center;
  background: #F5F5F5;
  padding-bottom: 75px;
}

.main {
  height: 90vh;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  background: #F5F5F5;
  padding-bottom: 70px;
}

.form-group {
  margin-top: 70px;
  padding-left: 57.6px;
  padding-top: 25%;
  text-align: center;
  width: 50%;
  float: right;
  background-color: #B0C4DE;
}

input.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #191970;
  width: 20%;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFF;
}

button {
  border: 0;
  padding: 3px 8px;
  margin: 0 0 0 8px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #191970;
  color: #fff;
  font-weight: 100;
}

label {
  font-size: 15px;
  margin: 0 5px;
  letter-spacing: 1px;
  color: #191970;
}

.titles-component {
  float: left;
  width: 45%;
  margin-top: 70px;
  padding-top: 30%;
  padding-bottom: 20%;
  background: url("./images/acatenango.JPG") center center no-repeat;
  background-size: cover;
  color: #FFFF;
}

.card {
  text-align: center;
}

.weather-info {
  float: right;
  width: 52%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-left: 34.5px;
  padding-bottom: 116px;
  background-color: #B0C4DE;
}

.weather-key {
  color: #191970;
  border-bottom: solid 2px #E0E0E0;
  padding: 2px 0 2px 0;
  font-weight: 400;
}

.weather-key:last-child {
  border: 0;
}

.weather-value {
  font-weight: 200;
}
