.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
  float: right;
}

.card {
  text-align: right;
}

.weather-info {
  float: right;
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather-key {
  color: #660033;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  /* padding: 20px 0 20px 0; */
  font-weight: 400;
}

.weather-key:last-child {
  border: 0;
}

.weather-value {
  font-weight: 200;
}

/* .card-body {
  padding-top: 50px;
  float: right;
}

.card-title {
  font-size: 30px;
  padding-bottom: 5px;
} */
